.default_avatar_img {
    width: 80px;
    cursor: pointer;
}
.default_avatar_img:hover {
    width: 90px;
    background-color: blue;
    border-radius: 50%;
}
.default_img {
    width: 80%;
    margin: 0 auto;
}