.info_list {
    list-style: none;
    width: 260px;
    margin: 0 auto;
}
.info_item {
    text-align: left;
    /* text-transform: capitalize; */
}
.avatar_img {
    width: 130px;
    border-radius: 50%;
}
.info_item_accent{
    font-weight: bolder;
}